<!doctype html>
<html>
    <head>
        <title>AI data.rest</title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h2 class="title">
                    Open REST Server that serves API endpoints - tailored for AI
                    utility
                </h2>
            </div>

            <div class="container">
                <h3 class="title">
                    APIs are based on OpenAPI Standards and JSON Schema.
                    Documentation:
                    <a href="https://aidata.rest/docs">aidata.rest/docs</a>
                </h3>
            </div>

            <div class="container">
                <h3 class="title">Search for an IOC</h3>
                <div>
                    <form
                        method="get"
                        hx-get="/ioc/"
                        hx-target="#iocResponse"
                        hx-swap="innerHTML"
                    >
                        <div class="field">
                            <!--<label class="label">Search IOC by Value</label>-->
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    id="iocSearchInput"
                                    name="ioc"
                                    placeholder="e.g. 91.92.250.61:3232"
                                    required
                                />
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Get
                            </button>
                        </div>
                    </form>
                    <div id="iocResponse" class="json-response">
                        <!-- The server should respond with a table or table row(s) here -->
                        <!-- JSON response will be styled here -->
                    </div>
                </div>
                <h3 class="title">Example IOC</h3>
                <table class="is-striped is-fullwidth table">
                    <thead>
                        <tr>
                            <th>First Seen</th>
                            <th>IOC</th>
                            <th>Type</th>
                            <th>Malware</th>
                            <th>Confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ioc in random_iocs %}
                        <tr>
                            <td>{{ ioc.first_seen }}</td>
                            <td>{{ ioc.ioc }}</td>
                            <td>{{ ioc.ioc_type }}</td>
                            <td>{{ ioc.malware_printable }}</td>
                            <td>{{ ioc.confidence_level }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
