<!doctype html>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<html>
    <head>
        <title>AIData.rest</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <script src="https://unpkg.com/htmx.org"></script>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">AI data.rest</h1>

                <div>
                    <button
                        class="button is-primary"
                        hx-get="/weekday"
                        hx-target="#weekdayResponse"
                    >
                        Get Current Weekday
                    </button>
                    <p id="weekdayResponse"></p>
                </div>
            </div>

            <div class="container">
                <h2 class="title is-3">Pokémon Data</h2>
                <div>
                    <div>
                        <form
                            method="get"
                            hx-get="/pokemon/"
                            hx-target="#pokemonResponse"
                            hx-include="#pokemonSearchInput"
                        >
                            <div class="field">
                                <label class="label"
                                    >Search Pokémon by Name</label
                                >
                                <div class="control">
                                    <input
                                        class="input"
                                        type="text"
                                        id="pokemonSearchInput"
                                        name="name"
                                    />
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Get Pokémon
                                </button>
                            </div>
                        </form>
                        <p id="pokemonResponse"></p>
                    </div>
                    <p id="pokemonResponse"></p>
                </div>
            </div>

            <div class="container">
                <h2 class="title is-3">3x Random Pokémon For You</h2>
                <table class="is-striped is-fullwidth table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pokemon in random_pokemon %}
                        <tr>
                            <td>{{ pokemon.name }}</td>
                            <td>{{ pokemon.type }}</td>
                            <td>{{ pokemon.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
